
.div {position: relative;
    width: 386px;}

.banner {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
}

.div2 {
position: absolute;
    bottom: 0px;
    color: white;
    background-color: black;
    width: 386px;
    height: 80px;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}
